@font-face
{
    font-family: msp;
    src: url('../fonts/mrd-regular.woff');
}

@font-face
{
	font-family: futura;
	src: url('../fonts/futura.otf');
}

body {
	font-family               : verdana;
	font-size                 : 12px;
	color                     : #000;
	background-color          : #fff; /* #fffdf8; */
}

tr {
    font-family               : Verdana;
	font-size                 : 11px;
	border-collapse				: collapse;
	padding				:0px;
}
tab.td {
    font-family               : Verdana;
	font-size                 : 11px;
	border-collapse				: collapse;
	padding-left				:5px;
}
input, textarea{
    margin           : 1px;
	font-size        : 11px;
	font-family      : Verdana;
	color            : #000000;
	background-color : #FFFFFF;

}
option, select {
    margin           : 1px;
	font-size        : 11px;
	font-family      : Verdana;
	color            : #000000;
	background-color : #FFFFFF;
}

a, a:link, a:visited, a:active
{
    font-family     : 'Segoe UI', msp, Arial;
    font-size       : 12px ;
    text-decoration : none;
}

a:hover
{
    font-family     : 'Segoe UI', msp, Arial;
    font-size       : 12px;
    text-decoration : underline;
    cursor: pointer;	
}

A.headerlink
{
    margin           : 1px;
    font-size        : 11px;
    font-family      : Verdana;
    color       : #FFFFFF;	
}

input,textarea,select
{
	border:1px solid #333333; padding:1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.inputbox {
	border: 1px solid #999;
	padding: 4px;
	font-family     : 'Segoe UI', msp, Arial;
	border-radius: 4px; 
	font-size: 12px;
	color: #5b5b5b;
}

.inputbox-big {
	border: 1px solid #bbb;
	padding: 4px;
	border-radius: 4px;
	font-family     : 'Segoe UI', msp, Arial;
	font-size: 14px;
	color: #5b5b5b;
	height: 20px
}

.BtnDefault
{
    background-color: #f3f3f3;
    color: #000;
    font-family: 'Segoe UI', msp, Arial;
    font-size: 12px;
    height: 24px;
    min-width: 70px;
}

.BtnDefault:hover
{
    background-color: #dcdcdc;
}

.BtnPrimary
{
    background-color: #3073ac;
    color: #fff;
    font-family: 'Segoe UI', msp, Arial;
    font-size: 12px;
    height: 24px;
    min-width: 70px;
}

.BtnPrimary:hover
{
    background-color: #275b8a;
}